<button class="button">Button default</button>
<button class="button button-primary">Button primary</button>
<button class="button button-secondary">Button secondary</button>
<button class="button button-white">Button white</button>
<button class="button button-success">Button success</button>
<button class="button button-warning">Button warning</button>
<button class="button button-danger">Button danger</button>
<button class="button button-primary button-outline">Button primary outline</button>
<button class="button button-secondary button-outline">Button secbutton-secondary outline</button>
<button class="button button-white button-outline">Button white outline</button>
<button class="button button-success button-outline">Button success outline</button>
<button class="button button-warning button-outline">Button warbutton-warning outline</button>
<button class="button button-danger button-outline">Button danger outline</button>
<button class="button button-primary button-small">Button primary small</button>
<button class="button button-primary button-block">Button primary block</button>