<!-- card con imagen -->
<div class="card">
    <figure class="card__media">
        <a href="#">
            <img src="https://images.pexels.com/photos/1888725/pexels-photo-1888725.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Nombre de la imagen" class="card__media-img">
        </a>
    </figure>
    <div class="card__content">
        <h3 class="card__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, totam!
        </h3>
    </div>
    <div class="card__actions">
        <a href="#">Enlace</a>
    </div>
</div>

<!-- card con video -->
<div class="card card--raised">
    <div class="card__media">
        <iframe src="https://www.youtube.com/embed/m1jY2VLCRmY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="card__media-video"></iframe>
    </div>
    <div class="card__content">
        <h3 class="card__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, totam!
        </h3>
    </div>
    <div class="card__actions">
        <a href="#">Enlace</a>
    </div>
</div>

<!-- card basica con borde y sin elevación -->
<div class="card card--no-raised card--border">
    <div class="card__content">
        <h3 class="card__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, totam!
        </h3>
    </div>
    <div class="card__actions">
        <a href="#">Enlace</a>
    </div>
</div>