<!-- hero full ocupa el 100% del viewport height en tamaños desktop-->
<div class="hero hero--full">
    <!-- imagen del hero -->
    <img src="../assets/hero-full.jpg" alt="Hero principal del sitio" class="hero__img">
    
    <!-- sobrecapa de color -->
    <div class="hero__overlay"></div>
    
    <!-- contenido principal del hero -->
    <div class="hero__content">
        <h1 class="hero__title t1">
            Erillam Healthcare
        </h1>
        <p class="hero__des">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, laudantium cupiditate. Tempora harum neque deserunt, quia ipsum pariatur architecto. Esse a velit ullam in quam.
        </p>
        <a href="#" class="button button-white button-outline">
            Ir a todos los productos
        </a>
    </div>
</div>

<!-- hero small ocupa menos de la mitad del viewport height -->
<div class="hero hero--small">
    <img src="../assets/hero-small.jpg" alt="Hero del sito en el contenido" class="hero__img">

    <div class="hero__overlay"></div>

    <div class="hero__content">
        <h4 class="hero__title t2">
            Lorem ipsum dolor sit amet.
        </h4>
        <p class="hero__des">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugiat sunt aspernatur vero fuga beatae nihil, assumenda non minima dignissimos.
        </p>
        <a href="#" class="button button-white button-outline">
            Mandar un mensaje
        </a>
    </div>
</div>