<nav class="navbar">
    <!-- Logo o texto de la empresa -->
    <div class="navbar__brand">
        <a href="#">
            <img src="../assets/logo-erillamhc.png" alt="Erillam Healthcare Logo" class="navbar__logo">
        </a>
    </div>

    <!-- Deslizador del menu (Responsive) -->
    <span class="navbar__toggle-menu">
        <i class="fa fa-bars"></i>
    </span>

    <!-- Menu -->
    <ul class="navbar__menu">
        <li class="navbar__item">
            <a href="#" class="navbar__link">Inicio</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Productos</a>

            <!-- Deslizador del submenu dropdown (Responsive) -->
            <span class="navbar__toggle-dropdown">
                <i class="fa fa-angle-down"></i>
            </span>

            <ul class="navbar__dropdown">
                <li class="navbar__item"><a href="#" class="navbar__link">Subitem 1</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Subitem 2</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Subitem 3</a></li>
            </ul>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Nuestra empresa</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">RIS/PAC's</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Multimedia</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Contacto</a>
        </li>
    </ul>
</nav>

<!-- Nav admin -->
<nav class="navbar">
    <div class="navbar__brand">
        <a href="#">
            <img src="../assets/logo-erillamhc.png" alt="" class="navbar__logo">
        </a>
    </div>

    <span class="navbar__toggle-menu">
        <i class="fa fa-bars"></i>
    </span>

    <ul class="navbar__menu">
        <li class="navbar__item">
            <a href="#" class="navbar__link">Ir a inicio</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Agregar producto</a>
        </li>
        <li class="navbar__item">
            <div class="navbar__item-content">
                <form>
                    <div class="search">
                        <input type="text" class="input" placeholder="Buscar producto...">
                        <i class="fa fa-search icon"></i>
                    </div>
                </form>
            </div>
        </li>
        <li class="navbar__item">
            <div class="navbar__item-content">
                <a href="#" class="button button-primary button-block">Cerrar sesión</a>
            </div>
        </li>
    </ul>
</nav>